@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* global */

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: normal;
}

.section {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* section 1 */

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: black;
}

#s1-container{
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#s1-header{
    font-size: 100px;
    font-weight: bold;
    color: white;
    margin: 0;
}

#s1-subheader {
    font-size: 50px;
    font-weight: normal;
    color: white;
    margin: 0;
    margin-top: 50px;
    line-height: 70px;
}


@media (max-width: 992px) {
    .section-1 {
        min-height: 60vh;
    }

    #s1-header{
        font-size: 60px;
        line-height: 70px;
    }

    #s1-subheader{
        font-size: 30px;
        line-height: 40px;
    }
}

/* section 2 */

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

#s2-container{
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
}

#s2-header{
    font-size: 80px;
    font-weight: bold;
    color: black;
    margin: 0;
}

#s2-subheader {
    font-size: 40px;
    font-weight: normal;
    color: black;
    margin: 0;
    margin-top: 50px;
    line-height: 60px;
}

@media (max-width: 992px) {
    .section-2 {
        min-height: 80vh;
    }

    #s2-header{
        font-size: 40px;
        line-height: 50px;
    }

    #s2-subheader{
        font-size: 30px;
        line-height: 40px;
    }
}